body {
  font-family: "Director", monospace;
  background-color: #d8470e;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

html {
  overflow: hidden;
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: blue;
}

.bg {
  background: url("logo35.png");
  background-position: center;
  background-position-y: 27%;
  background-size: cover;
  background-attachment: absolute;
  background-repeat: no-repeat;
  height: 580px;
  overflow: scroll;
}

img {
  text-align: center;
  max-width: 110%;
  width: 99%;
  height: auto;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.logo {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  object-fit: cover;
  pointer-events: none;
  opacity: 50%;
}
@media (min-width: 1215px) {
  .bg {
    height: 600px;
  }
}



/* menu bar */

#menu {
  text-align: center;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;
}
#menu a {
  padding: 0.2em;

  display: block;
  font-size: 1.8rem;
  border-radius: 4em 3em 5em / 2.5em 3em;
  transition: 0.3s border-radius;
  font-style: italic;
  letter-spacing: -0.06em;
}

#menu a:link {
  text-decoration: none;
  color: white;
}

#menu a:visited {
  text-decoration: none;
  color: white;
}
#menu a:hover {
  background-color: blue;
}

.manifesto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  align-items: center;
  justify-content: center;
}
::-webkit-scrollbar {
  background-color: transparent;
}

.txt {
  padding: 0.3em;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
  z-index: 1;
  opacity: 1;
  align-items: center;
  justify-content: center;
  height: 600px;
  width: 650px;
}

a .txt {
  text-decoration: none;
  color: black;
}

footer {
  margin-top: 50px;
  border-top: 1px solid silver;
  font-size: 0.8em;
}

footer a:link {
  text-decoration: none;
  color: white;
}

footer a:visited {
  text-decoration: none;
  color: white;
}
footer a:hover {
  background-color: blue;
}

@media (max-width: 400px) {
  footer {
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
  }

  .txt {
    margin-left: 7px;
  }
  footer ol {
    padding-left: 25px;
  }
}

footer ol {
  padding-left: 30px;
}

/**
 * Initialiazing a `footnotes` counter on the wrapper
 */
article {
  counter-reset: footnotes;
}

/**
 * Inline footnotes references
 * 1. Increment the counter at each new reference
 * 2. Reset link styles to make it appear like regular text
 */
[aria-describedby="footnote-label"] {
  counter-increment: footnotes; /* 1 */
  text-decoration: none; /* 2 */
  color: inherit; /* 2 */
  cursor: default; /* 2 */
  outline: none; /* 2 */
}

/**
 * Actual numbered references
 * 1. Display the current state of the counter (e.g. `[1]`)
 * 2. Align text as superscript
 * 3. Make the number smaller (since it's superscript)
 * 4. Slightly offset the number from the text
 * 5. Reset link styles on the number to show it's usable
 */
[aria-describedby="footnote-label"]::after {
  content: "[" counter(footnotes) "]"; /* 1 */
  vertical-align: super; /* 2 */
  font-size: 0.5em; /* 3 */
  margin-left: 2px; /* 4 */
  color: white; /* 5 */
  text-decoration: underline; /* 5 */
  cursor: pointer; /* 5 */
}

/**
 * Resetting the default focused styles on the number
 */
[aria-describedby="footnote-label"]:focus::after {
  outline: thin dotted;
  outline-offset: 2px;
}

[aria-label="Back to content"] {
  font-size: 0.8em;
  color: white;
}

/**
 * Visually hidden yet accessible content
 */
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  visibility: hidden;
  opacity: 0;
}

.homebutton {
  position: fixed;
  bottom: 0px;
  left: 0px;
  padding: 20px;
}
.homedisp {
  border-radius: 50%;

  display: flex;
   z-index:-1;
  justify-content: left;
  align-items: left;
  width: 30px;
  height: 30px;
  background-color: blue;
  color: blue;
  border: transparent;
  cursor: pointer;
}
button {
  border-radius: 50%;
  display: flex;
  justify-content: left;
  align-items: left;
  width: 30px;
  height: 30px;
  background-color: blue;
  color: blue;
  border: transparent;
  cursor: pointer;
}

.pdfbutton {
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding: 20px;
}
.pdfbuttondisp {
  width: 60px;
  border-radius: 4em 3em 5em / 2.5em 3em;
  background-color: blue;
  color: white;
  text-align: center;
  cursor: pointer;
}

